.root {
  background-color: #121212;
  min-height: 100vh;
}
.fill-height {
  min-height: 50vh;
}
.fill-width {
  width: 100%;
}
.button {
  background-color: #bb86fc;
  border: none;
  width: auto;
}
@media only screen and (min-width: 768px) {
  .player-card {
    min-width: 18rem;
  }
}
.player-card {
  width: 9rem;
}
.avatar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
