.home-container {
  background-color: #121212;
  min-height: 100vh;
}
.fill {
  height: max-content;
}
.Home {
  background-color: #121212;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.nav-color {
  background-color: #121212;
}

.rules-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card {
  width: auto;
  height: auto;
  background-color: #282c34;
  color: white;
  padding: 5dp;
}
.card-title {
  text-align: center;
  font-size: calc(14px + 2vmin);
}
.button {
  background-color: #bb86fc;
  border: none;
  width: 20%;
}
.button-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.test {
  min-height: 100vh;
}

